# Python virtual environments
venv/
.venv/
env/

# Python caching utilities
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local Data Downloads & Cache
eod_pipeline/*.csv
*.csv
*.log

# OS-specific clutter
.DS_Store
Thumbs.db
